body {
    font-family: sans-serif;
}

footer{
    background-color: yellowgreen;
    text-align: center;
}

.link-header{
    font-size: 30px;
}

.asd{
    text-align: center;
}

.asdf{
    font-size: 20px;
}

.r{
    border: solid green 15px;
}

.ty{
    border: solid red 4px;
}
.nm{
    background-color: aquamarine;
}
